@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <body>
        <div>
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="~/Home/index">Go to Home</a>
        </div>
    </body>
</html>
