@{
    ViewBag.Title = "AddUser";
}




<html>
<head>
<title>Practice</title>
<link rel="stylesheet" type="text/css" media="all" href="~/Content/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/style.css" />
<link href="~/Content/galleria.css" rel="stylesheet" type="text/css" media="screen"> 
<script language="JavaScript" type="text/JavaScript">
</script>
    <body>
<form >
 <br>
    <div>
        <h1> User has been added </h1>
    </div>
    
 

</form>
</body>
</head>
</html>