<html>
<head>
<title>Practice K.G</title>
<link rel="stylesheet" type="text/css" media="all" href="~/Content/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/style.css" />
<link href="~/Content/galleria.css" rel="stylesheet" type="text/css" media="screen"> 
<script language="JavaScript" type="text/JavaScript">
</script>
    <body>
<form >
 <br>

 <div>
     <h1> KinderGarten </h1><br><br>
 
	
   
     <h3>Practice for Numbers &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="~/Home/num" >Number</a></h3><br><br>
     <h3>Practice for Time &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp  <a href="~/Home/time">Time</a></h3><br><br>
     <h3>Practice for Money &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp <a href="~/Home/money" >Money</a></h3><br><br>
   
</div>

</form>
</body>
</html>