<html>
    <head> 
<title>Division</title>
<link rel="stylesheet" type="text/css" media="all" href="~/Content/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/style.css" />
<link href="~/Content/galleria.css" rel="stylesheet" type="text/css" media="screen"> 
<script language="JavaScript" type="text/JavaScript">
    
    function validate1()
    {
       if( document.pic.q1[0].checked)
        document.pic.qu1.value = "True Answer";
        else
        document.pic.qu1.value = "Wrong Answer";
    }
    
     function validate2()
    {
       if( document.pic.q2[1].checked)
        document.pic.qu2.value = "True Answer";
        else
        document.pic.qu2.value = "Wrong Answer";
    }
    
     function validate3()
    {
       if( document.pic.q3[1].checked)
        document.pic.qu3.value = "True Answer";
        else
        document.pic.qu3.value = "Wrong Answer";
    }
    
     function validate4()
    {
       if( document.pic.q4[0].checked)
        document.pic.qu4.value = "True Answer";
        else
        document.pic.qu4.value = "Wrong Answer";
    }
    
     function validate5()
    {
       if( document.pic.q5[3].checked)
        document.pic.qu5.value = "True Answer";
        else
        document.pic.qu5.value = "Wrong Answer";
    }
    
    
</script></head>
    <body>
<form  name="pic">
 <br>
     <table>  
         <tr><td><h2>Question No. 1</h2><br></td></tr>
         <tr><td> <h2>4 &nbsp/&nbsp2&nbsp=</h2>
     
           A.  2&nbsp <input type="radio" name="q1" > <br><br>
           B.  3 &nbsp<input type="radio" name="q1" > <br><br>
           C.  4 &nbsp<input type="radio" name="q1" > <br><br>
           D.  5&nbsp <input type="radio" name="q1" >
      </td> </tr>
     <td> <input type="button" name="bt1" value="Submit Answer" onclick="validate1()"> </td>
     <tr><td> <input type="text" name="qu1" disabled> </td></tr>
     </table>
     <br><br><br><br>
     
     
   <table>  
         <tr><td><h2>Question No. 2</h2><br></td></tr>
         <tr><td> <h2>10 &nbsp/&nbsp5&nbsp=</h2>
     
           A.  3 &nbsp<input type="radio" name="q2" > <br><br>
           B.  2 &nbsp <input type="radio" name="q2" > <br><br>
           C.  4 &nbsp<input type="radio" name="q2" > <br><br>
           D.  5&nbsp <input type="radio" name="q2" >
      </td> </tr>
     <td> <input type="button" name="bt2" value="Submit Answer" onclick="validate2()"> </td>
     <tr><td> <input type="text" name="qu2" disabled> </td></tr>
     </table>
     <br><br><br><br>
     
     <table>  
         <tr><td><h2>Question No. 3</h2><br></td></tr>
       <tr><td> <h2>45 &nbsp/&nbsp9&nbsp=</h2>
     
           A.  4 &nbsp<input type="radio" name="q3" > <br><br>
           B.  5&nbsp <input type="radio" name="q3" > <br><br>
           C.  6 &nbsp<input type="radio" name="q3" > <br><br>
           D.  7&nbsp <input type="radio" name="q3" >
      </td> </tr>
     <td> <input type="button" name="bt3" value="Submit Answer" onclick="validate3()"> </td>
     <tr><td> <input type="text" name="qu3" disabled> </td></tr>
     </table>
     <br><br><br><br>
     
      <table>  
         <tr><td><h2>Question No. 4</h2><br></td></tr>
         <tr><td> <h2> 120 &nbsp/&nbsp10&nbsp=</h2>
     
           A. 012 &nbsp<input type="radio" name="q4" > <br><br>
           B. 102 &nbsp<input type="radio" name="q4" > <br><br>
           C. 130&nbsp&nbsp<input type="radio" name="q4" > <br><br>
           D. 120 &nbsp<input type="radio" name="q4" >
      </td> </tr>
     <td> <input type="button" name="bt4" value="Submit Answer" onclick="validate4()"> </td>
     <tr><td> <input type="text" name="qu4" disabled> </td></tr>
     </table>
     <br><br><br><br>
     
      <table>  
         <tr><td><h2>Question No. 5</h2><br></td></tr>
         <tr><td> <h2>105 &nbsp/&nbsp15&nbsp=</h2>
     
           A.  707 &nbsp<input type="radio" name="q5" > <br><br>
           B.  107&nbsp <input type="radio" name="q5" > <br><br>
           C.  105 &nbsp<input type="radio" name="q5" > <br><br>
           D.  007 &nbsp<input type="radio" name="q5" >
      </td> </tr>
     <td> <input type="button" name="bt5" value="Submit Answer" onclick="validate5()"> </td>
     <tr><td> <input type="text" name="qu5" disabled> </td></tr>
     </table>
     <br><br><br><br>

</form>
</body>
</html>