<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/960.css" rel="stylesheet" />
    <link href="~/Content/galleria.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/text.css" rel="stylesheet" />
<link href="~/Images/galleria.css" rel="stylesheet" type="text/css" media="screen"> 

<script type="text/javascript" src="~/Scripts/jquery-1.2.6.min.js"></script> 
<script type="text/javascript" src="~/Scripts/jquery.galleria.js"></script> 
<script type="text/javascript">
    jQuery(function ($) {

        $('ul.gallery').galleria({
            history: true, // activates the history object for bookmarking, back-button etc. 
            clickNext: true, // helper for making the image clickable
            insert: '#main_image', // the containing selector for our main image
            onImage: function (image, caption, thumb) { // let's add some image effects for demonstration purposes

                // fade in the image & caption
                if (!($.browser.mozilla && navigator.appVersion.indexOf("Win") != -1)) { // FF/Win fades large images terribly slow
                    image.css('display', 'none').fadeIn(1000);
                }
                caption.css('display', 'none').fadeIn(600);
                
                var _li = thumb.parents('li');

                // fade out inactive thumbnail
                _li.siblings().children('img.selected').fadeTo(500, 0.3);

                // fade in active thumbnail
                thumb.fadeTo('fast', 1).addClass('selected');

                // add a title for the clickable image
                image.attr('title', 'Next image >>');
            },
            onThumb: function (thumb) { // thumbnail effects goes here

                // fetch the thumbnail container
                var _li = thumb.parents('li');

                // if thumbnail is active, fade all the way.
                var _fadeTo = _li.is('.active') ? '1' : '0.3';

                // fade in the thumbnail when finnished loading
                thumb.css({ display: 'none', opacity: _fadeTo }).fadeIn(1000);

                // hover effects
                thumb.hover(
					function () { thumb.fadeTo('fast', 1); },
					function () { _li.not('.active').children('img').fadeTo('fast', 0.3); } // don't fade out if the parent is active
				)
            }
        });






    });
</script>


<style media="screen,projection" type="text/css">
	
	/* BEGIN DEMO STYLE */

	.gallery li{width:80px;height:60px;border:3px double #111;margin: 0 2px;background:#000; float:left;}
	.gallery {width:300px;}

    </style>




    <title>Zeeshan Saleemi</title>
</head>

<body>


<div class="container_12" id="topContent">
    <div class="grid_5">
            <h1>Online Mathematica</h1>
            <h2>For Kids</h2>
    </div>
    <div class="grid_6" id="rightTopContent">
            <a href="#">Home</a> |
            <a href="~/Home/SignUp">Sign Up</a> |
            <a href="~/Home/SignIn">Sign In</a> |
            <a href="~/Home/Practice">Practice</a> 
        
    </div>
</div>


    <div class="clear">&nbsp;</div>

<div class="container_12">
<div class="grid_4">    
        <ul class="gallery"> 
           
		</ul>
        
	</div>
	<!-- end .grid_4 -->
	<div class="grid_8">

			<div id="main_image"></div>
	</div>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="container_16">
    <div class="grid_2">
		<p>&nbsp;</p>
	</div>
     <li><img src="~/Images/1.jpg" /></li>
            <li><img src="~/Images/10.jpg" /></li>
            <li><img src="~/Images/11.png" /></li>
            <li><img src="~/Images/12.jpg" /></li>
            <li><img src="~/Images/13.gif" /></li>
            <li><img src="~/Images/15.jpg" /></li>
            <li><img src="~/Images/2.jpg" /></li>
            <li><img src="~/Images/3.jpg" /></li>
            <li><img src="~/Images/4.jpg" /></li>
            <li><img src="~/Images/5.png" /></li>
            <li><img src="~/Images/6.jpg" /></li>
            <li><img src="~/Images/7.jpg" /></li>
            <li><img src="~/Images/8.jpg" /></li>
            <li><img src="~/Images/9.jpg" /></li>
            <li><img src="~/Images/background.png" /></li>
      <div class="grid_12" id="galleryInformation">
		<h2>Description</h2>
        <p>
		This application provides an easy way to learn the basics of mathematics for kids.The use of this application is very easy.Kids will enjoy by using this application.
		</p>
        
      
	</div>
    </div>
    
</div>

</body>
</html>