<html>
<head>
<title>Practice</title>
<link rel="stylesheet" type="text/css" media="all" href="~/Content/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/style.css" />
<link href="~/Content/galleria.css" rel="stylesheet" type="text/css" media="screen"> 
<script language="JavaScript" type="text/JavaScript">
</script>
    <body>
<form >
 <br>

 <div>
     <h1> Select a class!!! </h1>
	
	
     <br><br> <h3>KinderGarten &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="~/Home/ClassPKG"> &nbsp K.G</a></h3><br><br>
	
    <h3>Math 1st Grade &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="~/Home/Class1">1st Grade</a></h3><br><br>
    <h3>Math 2nd Grade &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="~/Home/Class2">2nd Grade</a></h3><br><br>
    <h3>Math 3rd Grade &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="~/Home/Class3">3rd Grade</a></h3><br><br>
    <h3>Math 4th Grade &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="~/Home/Class4">4th Grade</a></h3><br><br>
    <h3>Math 5th Grade &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="~/Home/Class5">5th Grade</a></h3><br><br>
   
   
</div>

</form>
</body>
</html>