<html>
<head>
<title>Study</title>
<link rel="stylesheet" type="text/css" media="all" href="~/Content/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/style.css" />
<link href="~/Content/galleria.css" rel="stylesheet" type="text/css" media="screen"> 
<script language="JavaScript" type="text/JavaScript">
</script>
</head>
<body>
    <a name="Study"></a>
    <form >
        
<br>

<div>
     <h1> What do you want to do??? </h1>
	
     <br><br> <h3>Practice &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="~/Home/Practice">Click here for Practice</a></h3><br><br>
     <h3>Test &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
     &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="~/Home/Test">Click here for Test</a></h3><br><br>
     <h3>View Records &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="~/Home/signInStudy">Click here for Records</a></h3><br><br>
   
   
</div>

</form>
</body>
</html>