<html>
    <head> 
<title>Subtraction</title>
<link rel="stylesheet" type="text/css" media="all" href="~/Content/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/style.css" />
<link href="~/Content/galleria.css" rel="stylesheet" type="text/css" media="screen"> 
<script language="JavaScript" type="text/JavaScript">
    
    function validate1()
    {
       if( document.pic.q1[1].checked)
        document.pic.qu1.value = "True Answer";
        else
        document.pic.qu1.value = "Wrong Answer";
    }
    
     function validate2()
    {
       if( document.pic.q2[2].checked)
        document.pic.qu2.value = "True Answer";
        else
        document.pic.qu2.value = "Wrong Answer";
    }
    
     function validate3()
    {
       if( document.pic.q3[1].checked)
        document.pic.qu3.value = "True Answer";
        else
        document.pic.qu3.value = "Wrong Answer";
    }
    
     function validate4()
    {
       if( document.pic.q4[3].checked)
        document.pic.qu4.value = "True Answer";
        else
        document.pic.qu4.value = "Wrong Answer";
    }
    
     function validate5()
    {
       if( document.pic.q5[1].checked)
        document.pic.qu5.value = "True Answer";
        else
        document.pic.qu5.value = "Wrong Answer";
    }
    
    
</script></head>
    <body>
<form  name="pic">
 <br>
     <table>  
         <tr><td><h2>Question No. 1</h2><br></td></tr>
         <tr><td> <h2>7 &nbsp-&nbsp2&nbsp=</h2>
     
           A.  3&nbsp <input type="radio" name="q1" > <br><br>
           B.  5 &nbsp<input type="radio" name="q1" > <br><br>
           C.  7 &nbsp<input type="radio" name="q1" > <br><br>
           D.  9&nbsp <input type="radio" name="q1" >
      </td> </tr>
     <td> <input type="button" name="bt1" value="Submit Answer" onclick="validate1()"> </td>
     <tr><td> <input type="text" name="qu1" disabled> </td></tr>
     </table>
     <br><br><br><br>
     
     
   <table>  
         <tr><td><h2>Question No. 2</h2><br></td></tr>
         <tr><td> <h2>10 &nbsp-&nbsp3&nbsp=</h2>
     
           A.  13 &nbsp<input type="radio" name="q2" > <br><br>
           B.  15&nbsp <input type="radio" name="q2" > <br><br>
           C.  07 &nbsp<input type="radio" name="q2" > <br><br>
           D.  11&nbsp <input type="radio" name="q2" >
      </td> </tr>
     <td> <input type="button" name="bt2" value="Submit Answer" onclick="validate2()"> </td>
     <tr><td> <input type="text" name="qu2" disabled> </td></tr>
     </table>
     <br><br><br><br>
     
     <table>  
         <tr><td><h2>Question No. 3</h2><br></td></tr>
       <tr><td> <h2>20 &nbsp-&nbsp02&nbsp=</h2>
     
           A.  22 &nbsp<input type="radio" name="q3" > <br><br>
           B.  18&nbsp <input type="radio" name="q3" > <br><br>
           C.  02 &nbsp<input type="radio" name="q3" > <br><br>
           D.  25&nbsp <input type="radio" name="q3" >
      </td> </tr>
     <td> <input type="button" name="bt3" value="Submit Answer" onclick="validate3()"> </td>
     <tr><td> <input type="text" name="qu3" disabled> </td></tr>
     </table>
     <br><br><br><br>
     
      <table>  
         <tr><td><h2>Question No. 4</h2><br></td></tr>
         <tr><td> <h2>73 &nbsp-&nbsp33&nbsp=</h2>
     
           A. 30 &nbsp<input type="radio" name="q4" > <br><br>
           B. 20 &nbsp<input type="radio" name="q4" > <br><br>
           C. 50&nbsp&nbsp<input type="radio" name="q4" > <br><br>
           D. 40 &nbsp<input type="radio" name="q4" >
      </td> </tr>
     <td> <input type="button" name="bt4" value="Submit Answer" onclick="validate4()"> </td>
     <tr><td> <input type="text" name="qu4" disabled> </td></tr>
     </table>
     <br><br><br><br>
     
      <table>  
         <tr><td><h2>Question No. 5</h2><br></td></tr>
         <tr><td> <h2>100 &nbsp-&nbsp33&nbsp=</h2>
     
           A.  88 &nbsp<input type="radio" name="q5" > <br><br>
           B.  77&nbsp <input type="radio" name="q5" > <br><br>
           C.  13 &nbsp<input type="radio" name="q5" > <br><br>
           D.  17 &nbsp<input type="radio" name="q5" >
      </td> </tr>
     <td> <input type="button" name="bt5" value="Submit Answer" onclick="validate5()"> </td>
     <tr><td> <input type="text" name="qu5" disabled> </td></tr>
     </table>
     <br><br><br><br>

</form>
</body>
</html>